body {
  overflow:hidden;
  background-color: #e0e0e0;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 2vh;
}

h1 {
  color: #2ad4a1;
  font-size: 24px;
  text-align: center;
}

form {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 5%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000000;
}

input[type="text"],
input[type="checkbox"],
input[type="submit"],
button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s 0.1s ease-out;
  box-sizing: border-box;
}

input[type="text"],
input[type="checkbox"] {
  border: 1px solid #2ad4a1;
  margin-bottom: 15px;
  width: 100%;
}

input[type="submit"],
button {
  background-color: #2ad4a1;
  color: #ffffff;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

input:hover,
button:hover {
  color: #2ad4a1;
  border: 1px solid rgb(189, 194, 199);
}

/* Responsividade */

@media only screen and (max-width: 500px) {
  input[type="text"],
  input[type="checkbox"],
  input[type="submit"],
  button {
    font-size: 16px;
  }
}
