.navbar {
    background-color: #005ca9;
    background-position: top;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
    padding-bottom: 2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.navbar-container {
    justify-content: space-between;
    display: flex;
    max-width: 100%;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.logo {
    font-weight: bold;
    text-decoration: none;
    height: 3rem;
    width: 10rem;
    margin-left: 1rem;
}

.navbar-menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    flex-wrap: wrap;
    margin-right: 20px;

}

.navbar-menu li {
    text-align: center;
    margin-right: 2rem;
}

.navbar-menu li a {
    color: #ffffff;
    text-decoration: none;
}

.navbar-menu li:last-child {
    margin-right: 3rem;
}

@media (max-width: 768px) {
    .navbar-menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-menu li {
        margin-right: 0;
    }

    body {
        background-color: #e0e0e0;
        margin-top: 6rem;
    }

    .rodape p {
        text-align: center;
        white-space: pre-line;
        color:rgb(0, 0, 0);
        padding-top: 20px;
        margin-top: 50rem;
        margin-bottom: 10px;
        font-size: 0.9rem;
    }
    
   

}

body {
    background-color: #e0e0e0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #005ca9;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}



form {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 2%;
    padding-bottom: 1%;
    max-width: 30rem;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 20px;
}

label {
    margin-bottom: 1%;
    font-weight: bold;
    color: #000000;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"] {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    border: 1px solid #005ca9;
    border-radius: 4px;
    margin-bottom: 1em;
}


input[type="date"]:hover,
input[type="time"]:hover {
    color: #005ca9;
    ;
}

button[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background-color: #005ca9;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 1.5rem 1rem 1.5rem 1rem;
    padding: 2% 30px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    display: block;
    margin: 0 auto;
}

input[type="submit"]:hover {
    background-color: #005ca9;
}

.success-message {
    position: static;
    color: #000000;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

footer p {
    padding-bottom: 0rem;
    bottom: 0;
    text-align: center;
    padding-top: 8.4rem;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 0px;

}

.rodape p {
    text-align: center;
    white-space: pre-line;
    padding-top: 15rem;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}