body {
  background-color: #e0e0e0;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  overflow-x: auto;
  height: 100vh;
}
header {
  display: flex;
}

/*
h1 {
    color: #005ca9;
    /*color: hsl(165, 100%, 30%); /* saturação em 100% (2° valor) 
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}*/
#botaosair:hover{
  color: red;
}
h1 {
  color: #005ca9;
  /*color: hsl(165, 100%, 30%); /* saturação em 100% (2° valor) */
  font-size: 2rem;
  font-size: 24px;
  text-align: center;
  margin-bottom: 1rem;
  width: 100%;
  z-index: 999;
  /* Adicione um valor alto para definir a ordem de empilhamento da navbar */
}

.sair {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar {
  background-color: #005ca9;
  background-position: top;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 4);
  display: flex;
  padding-bottom: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  /* Adicione um valor alto para definir a ordem de empilhamento da navbar */
}
.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  /* Movemos essas tags para o .navbar-container
    display: flex;
    align-items: center;
    */
  font-weight: bold;
  text-decoration: none;
  /* object-fit: cover;
    /*width: 10rem;*/
  height: 3rem;
  width: 10rem;
  /*border-radius: 200px;
    margin-right: 200px;*/
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.navbar-menu li {
  text-align: center;
  margin-right: 4rem;
  z-index: 999;
}

.navbar-menu li a:hover {
  color: #000000;
  text-decoration: none;
}

.navbar-menu li a {
  color: #ffffff;
  text-decoration: none;
}

.navbar-menu li:last-child {
  margin-right: 30px;
  /* Removendo margin do último elemento */
}
tr:last-of-type td:last-child {
  border-radius: 0px 0px 20px 0px;
}
tr:last-of-type td:first-child {
  border-radius: 0px 0px 0px 20px;
}
.rodape {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 1.5;
  display: grid;
  place-items: center;
}
tr {
  background-color: rgba(206, 204, 204, 0.521);
}

form {
  width: 100%;
  display: grid;
  background-color: #ffffff;
  border-radius: 15px;
  margin-left: 0px;
  padding: 2rem;
  padding-bottom: 1%;
  max-width: 30rem;
  margin: 0 auto;
  margin-top: 4rem;
}

label {
  margin-bottom: 1%;
  font-weight: bold;
  color: #000000;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"] {
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  border: 1px solid #005ca9;
  border-radius: 4px;
  margin-bottom: 1em;
}

/*
input[type="text"]:hover,
input[type="number"]:hover {
    /*border: 1px solid rgb(0, 0, 0);
}
*/

input[type="date"]:hover,
input[type="time"]:hover {
  color: #0c36be;
}

button[type="submit"] {
  box-sizing: border-box;
  background-color: #005ca9;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 1.5rem 1rem 1.5rem 1rem;
  padding: 2% 30px;
  cursor: pointer;
  transition: background-color 0.1s ease;
  display: block;
  margin: 0 auto;
}

input[type="submit"]:hover {
  background-color: #0c36be;
}

.success-message {
  position: static;
  color: #000000;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}
.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  /* padding-top: auto; */
  font-weight: bold;
}
form {
  width: 100%;
  width: 30rem;
  width: 30vw;
  padding-bottom: 1rem;
}
.text-container .calendario {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 1rem; /* Adicionando um espaçamento entre os elementos */
}
/*
table {
  width: max-content;
}
*/
table {
  border-collapse: collapse;
  display: flex;
  text-align: center;
}

th,
td {
  text-align: center;
  padding: 10px;
}

th {
  background-color: #005ca7;
  color: #fff;
}

th:first-child {
  border-radius: 20px 0px 0px 0px;
}

th:last-child {
  border-radius: 0px 20px 0px 0px;
}

/*.dias h5 {
  line-height: 0.4;
}
*/
/* abaixo usa-se um método responsivo com o @media screen, servindo para adaptar-se ao layout da tela em uso
@media screen and (max-width: 768px) {
    form {
        max-width: 90%;
        /* Reduz a largura do formulário 
        padding: 5%;
        /* Aumenta o espaçamento interno do formulário 
    }

    label {
        font-size: 0.9rem;
        /* Reduz o tamanho da fonte dos rótulos 
    }

    input[type="text"],
    input[type="date"],
    input[type="time"],
    input[type="number"] {
        width: 100%;
        /* Define a largura dos campos de entrada para 100% 
    }

    input[type="submit"] {
        padding: 3% 20px;
        /* Reduz o espaçamento interno do botão de envio 
    }
}

/* Media query para telas menores que 480px 
@media screen and (max-width: 480px) {
    form {
        margin-top: 10vh;
        /* Aumenta o espaçamento superior do formulário 
    }

    label {
        font-size: 0.8rem;
        /* Reduz ainda mais o tamanho da fonte dos rótulos 
    }

    input[type="submit"] {
        padding: 2% 15px;
        /* Reduz ainda mais o espaçamento interno do botão de envio 
    }
}*/

h1 {
  color: #005ca9;
  /*color: hsl(165, 100%, 30%); /* saturação em 100% (2° valor) */
  font-size: 2rem;
  font-size: 24px;
  text-align: center;
  margin-bottom: 1rem;
  width: 100%;
  z-index: 999;
  /* Adicione um valor alto para definir a ordem de empilhamento da navbar */
}
.navbar-container {
  /*align-items: flex-start;*/
  justify-content: space-between;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  align-items: center;
  box-sizing: border-box;
}


.navbar-menu li a {
  color: #ffffff;
  text-decoration: none;
}

.navbar-menu li:last-child {
  margin-right: 30px;
  /* Removendo margin do último elemento */
}

input[type="number"]:hover,
input[type="date"]:hover,
input[type="time"]:hover {
  color: #0c36be;
  color: #0c36be;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background-color: #0c36be;
  text-align: center;
}

@media (max-width: 768px) {
  .navbar {
    z-index: 999;
    align-items: center;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
  }

  header {
    z-index: 10;
    display: flex;
    position: relative;
    justify-content: center;
  }

  body {
    margin-top: 6rem;
  }
  form {
    width: 100%;
    margin: 0;
    margin-top: 2rem;
  }
  .navbar-menu li {
    text-align: center;
    margin-right: 4rem;
    z-index: 999;
  }

  .forms {
    width: 100%;
    display: grid;
    justify-items: center;
    text-align: center;
  }

  .navbar-menu {
    justify-content: stretch;
    display: grid;
    text-align: center;
    align-items: center;
    align-items: flex-start;
    z-index: 999;
  }
  .text-container {
    display: grid;
    margin: 0 auto;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    /* padding-top: auto; */
    font-weight: bold;
  }
  table {
    display: grid;
    justify-items: center;
    text-align: center;
    border-collapse: collapse;
  }
  tbody {
    margin-top: 8rem;
    justify-items: center;
    text-align: center;
  }

  tr:last-of-type td:last-child {
    border-radius: 0px 0px 20px 0px;
  }
  tr:last-of-type td:first-child {
    border-radius: 0px 0px 0px 20px;
  }

  tr {
    background-color: rgba(204, 204, 206, 0.521);
  }

  .text-container .calendario {
    width: 100%;
    flex-basis: 20%;
    display: grid;
    margin: 0 auto;
    align-items: center;
  }

  .text-container form {
    width: 100%;
    display: grid;
    justify-items: center;
    text-align: center;
    padding: 2rem;
    flex-basis: 30%;
  }

  .navbar-container {
    z-index: 999;
    /*align-items: flex-start;*/
    justify-content: stretch;
    text-align: center;
    align-items: center;
    display: grid;
  }
  footer {
    text-align: center;
    margin: 0 auto;
  }
  .rodape {
    font-weight: bold;
    display: grid;
    place-items: center;
    white-space: pre-line;
  }
  .rodape p {
    display: grid;
    place-items: center;
    white-space: pre-line;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
  }
}
