body {
  background-color: #e0e0e0;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0.625rem; /* 10px = 0.625rem */
  height: 25rem; /* 400px = 25rem */
  border-color: #bdb5b5;
  text-align: left;
}

.sair {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

#app {
  max-width: 40rem; /* 640px = 40rem */
  margin: 0 auto;
}

#logosenai {
  position: relative;
  width: 10rem;
  margin-top: -1rem;
}

h2 {
  color: #005ca9;
  font-size: 2rem;
  text-align: center;
}

form {
  background-color: #ffffff;
  border-radius: 0.9375rem; /* 15px = 0.9375rem */
  padding: 2rem;
  padding-bottom: 0.3125rem; /* 5px = 0.3125rem */
  max-width: 30rem; /* 480px = 30rem */
  margin: 0 auto;
  margin-top: 3rem;
}

label {
  margin-bottom: 0.625rem; /* 10px = 0.625rem */
  font-weight: bold;
  color: #000000;
}


input[type="text"] {
  grid-column: 1;
  width: 100%;
  padding: 0.625rem; /* 10px = 0.625rem */
  border: 0.0625rem solid #005ca9; /* 1px = 0.0625rem */
  border-radius: 0.25rem; /* 4px = 0.25rem */
  box-sizing: border-box;
  margin-bottom: 0.625rem; /* 10px = 0.625rem */;
}


/*
input[type="text"]:hover {
  border-color: #666466;
}
*/
input[type="submit" i] {
  background-color: #005ca9;
  color: #ffffff;
  font-size: 1.2rem; /* 12px = 1.2rem */
  font-weight: bold;
  border: none;
  padding: 0.3125rem 1.25rem; /* 5px 20px = 0.3125rem 1.25rem */
  border-radius: 1.875rem 1.25rem; /* 30px 20px = 1.875rem 1.25rem */
  cursor: pointer;
  transition: background-color 0.1s ease;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
}


input[type="number" i] {
  grid-column: 1;
  width: 100%;
  padding: 0.625rem; /* 10px = 0.625rem */
  border: 0.0625rem solid #005ca9; /* 1px = 0.0625rem */
  border-radius: 0.25rem; /* 4px = 0.25rem */
  box-sizing: border-box;
}

input[type="email" i] {
  grid-column: 1;
  width: 100%;
  padding: 0.625rem; /* 10px = 0.625rem */
  border: 0.0625rem solid #005ca9; /* 1px = 0.0625rem */
  border-radius: 0.25rem; /* 4px = 0.25rem */
  box-sizing: border-box;
}

input[type="password"] {
  grid-column: 1;
  width: 100%;
  padding: 0.625rem; /* 10px = 0.625rem */
  border: 0.0625rem solid #005ca9; /* 1px = 0.0625rem */
  border-radius: 0.25rem; /* 4px = 0.25rem */
  box-sizing: border-box;
}

.button-container {
  display: contents;
  flex-direction: column;
  align-items: flex-end; /* Alterado para flex-end */
  margin-top: 62.5rem; /* 1000px = 62.5rem */
}

button[type="submit"] {
  
  background-color: #005ca9;
  color: #ffffff;
  font-size: 1.2rem; /* 12px = 1.2rem */
  font-weight: bold;
  border: none;
  padding: 0.3125rem 1.25rem; /* 5px 20px = 0.3125rem 1.25rem */
  border-radius: 1.875rem 1.25rem; /* 30px 20px = 1.875rem 1.25rem */
  cursor: pointer;
  transition: background-color 0.1s ease;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
}

button[value="CADASTRAR"],
.limpar-button {
  background-color: #005ca9;
  color: #ffffff;
  font-size: 1.2rem; /* 12px = 1.2rem */
  font-weight: bold;
  border: none;
  padding: 0.3125rem 1.25rem; /* 5px 20px = 0.3125rem 1.25rem */
  border-radius: 1.875rem 1.25rem; /* 30px 20px = 1.875rem 1.25rem */
  cursor: pointer;
  transition: background-color 0.1s ease;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
  margin-top: 1.875rem; /* 30px = 1.875rem */
}

#botao_limpar:hover {
  background-color: #0c36be;
}
button:hover {
  background-color: #0c36be;
}

/* Codigo original sem modificação de placeholder show*/
#nome,
#codigo,
#email,
#senha,
#confirmarsenha {
  text-align: left;
}

/* trata-se de um seletor que seleciona os elementos que não tem o atributo placeholder-shown, ou seja, que não está com o placeholder aparecendo. 
#nome:not(:placeholder-shown), #codigo:not(:placeholder-shown), #email:not(:placeholder-shown), #senha:not(:placeholder-shown), #confirmarsenha:not(:placeholder-shown){
  text-align: center;
}
// apenas do codigo de acesso
#codigo:not(:placeholder-shown){
  text-align: center;
}
*/

#senhaErro {
  display: none;
  float: left;
  justify-content: flex-start;
  background-color: transparent;
  font-size: 1rem; /* 16px = 1rem */
  font-weight: bold;
  text-decoration: none;
  margin-top: -0.625rem; /* 10px = 0.625rem */
}
#senhaErro::after {
  display: flex;
}
.link-button1 {
  background-color: transparent;
  color: #005ca9;
  font-size: 1rem; /* 16px = 1rem */
  font-weight: bold;
  text-decoration: none;
  padding: 0.625rem 1.25rem; /* 10px 20px = 0.625rem 1.25rem */
  border-radius: 0.5rem; /* 8px = 0.5rem */
  transition: background-color 0.1s ease;
  box-sizing: border-box;
  margin-bottom: 0.625rem; /* 10px = 0.625rem */
  float: right;
}

.link-button1:hover {
  text-decoration: underline;
}

.link-button2 {
  background-color: transparent;
  color: #005ca9;
  font-size: 0.8rem; /* 12px = 0.8rem */
  font-weight: bold;
  text-decoration: none;
  padding: 0.625rem 1.25rem; /* 10px 20px = 0.625rem 1.25rem */
  border-radius: 0.5rem; /* 8px = 0.5rem */
  transition: background-color 0.1s ease;
  box-sizing: border-box;
  margin-bottom: 0.625rem; /* 10px = 0.625rem */
  float: left;
}

.link-button2:hover {
  text-decoration: underline;
}

.rodape {
  margin-top: 11.5rem;
  font-family: "Montserrat", sans-serif;
  text-align: center; /* Centralizar o conteúdo do rodapé */
}

.rodape p {
  font-weight: 600;
  line-height: 1rem;
  margin: 0; /* Remover margens para evitar espaçamento extra */
}

input[type="text"]:hover {
  border-color: #666466;
}

@media (max-width: 768px) 
{
  .form{
    margin-top: 10px;
  }
}