body {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    height: 100vh;
    overflow:hidden;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
}

.navbar {
  background-color: #005ca9;
  background-position: top;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 4);
  padding-bottom: 2px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  /* Adicione um valor alto para definir a ordem de empilhamento da navbar */
}

.navbar-container {
  /*align-items: flex-start;*/
  justify-content: space-between;
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  width: 6rem;
  height: auto;
  border-radius: 50px;
  margin-right: 20px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.navbar-menu li {
  text-align: center;
  margin-right: 4rem;
}

.navbar-menu li a {
  color: #ffffff;
  text-decoration: none;
}

.navbar-menu li:last-child {
  margin-right: 30px;
  /* Removendo margin do último elemento */
}


.sair {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    font-weight: 900;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    white-space: nowrap;
    overflow-x: auto;
}

th,
td {
    text-align: left;
    padding: 10px;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr.bg-blue {
    background-color: #f0f7ff;
}

tr.bg-white {
    background-color: #fff;
}

tr:hover {
    background-color: #d9edff;
}

tr:nth-child(even) {
    background-color: #f6f8fa;
}

@media (max-width: 767px) {

    th,
    td {
        display: block;
        width: auto;
    }

    th {
        text-align: center;
    }

    th:first-child {
        display: none;
    }

    td:first-child {
        border-top: none;
    }
}