body {
  background-color: #e0e0e0;
  font-family: 'Montserrat', sans-serif;
  height: 50%;
  margin: 0;
  padding: 0;
  height: 500px;
  position: relative;
  overflow: hidden;
}

/* css mensagem erro ou exito (opcional)
#falseMsg {
  font-size: 20px; 
  font-weight:600;
  color: red;
  text-align: center;
}

#trueMsg {
  font-size: 20px; 
  font-weight:600;
  color: red;
  text-align: center;
}
*/

.sair {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

#app {
  max-width: 40%;
  margin: 0 auto;
  padding: 2%;
  margin-top: 1vh;
}

#logosenai {
  position: relative;
  width: 10rem;
  margin-top: -1rem;
}
.id img{
  width: 150px
}

.logosenai img{
  width: 12rem;
  position: absolute;
  left: 4rem;
  top: 1rem;
}

h1 {
  color: #005CA9;
  font-size: 2rem;
  text-align: center;
}

form {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1%;
  background-color: #ffffff;
  border-radius: 5%;
  padding: 5%;
}

label {
  grid-column: 1;
  margin-bottom: 1%;
  font-weight: bold;
  color: #000000;
}



input[type="text"] {
  grid-column: 1;
  width: 100%;
  padding: 1rem;
  border: 1px solid #005CA9;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="password"] {
  grid-column: 1;
  width: 100%;
  padding: 1rem;
  border: 1px solid #005CA9;
  border-radius: 4px;
  box-sizing: border-box;
}

/* quem botou essa porra de checkbox eh maluco
input[type="checkbox"] {
  margin-right: 5px;
}*/

/* BUTTON */

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1em;
}

button[value="ACESSAR"],
.limpar-button {
  background-color: #005CA9;
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  border: none;
  padding: 0.5em 1em;
  border-radius: 20px 10px 20px 10px;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

#botao_limpar:hover {
  background-color: #0c36be;
}

.g-recaptcha {
  background-color: #005CA9;
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  border: none;
  padding: 0.5em 1em;
  border-radius: 20px 10px 20px 10px;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 1rem;
}

.captcha {
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-recaptcha:hover {
  background-color: #0c36be;
}

button:hover {
  background-color: #0c36be;
}

.link-button1 {
  display: flex;
  background-color: transparent;
  color: #005CA9;
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none;
  padding: 0em 0em 0em 1rem;
  box-sizing: border-box;
  float: right;
}

.link-button1:hover {
  text-decoration: none;
  text-decoration: underline;
}

.link-button2 {
  background-color: transparent;
  color: #005CA9;
  font-size: 0.7em;
  font-weight: bold;
  text-decoration: none;
  padding: 0.3em 0em;
  box-sizing: border-box;
  margin-bottom: 1rem;
  float: left;
}

.link-button2:hover {
  text-decoration: none;
  text-decoration: underline;
}

.rodape {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  /* padding-top: auto; */
  font-weight: bold;
  margin-top: 17%;
  object-position: bottom;
}

.rodape p {
  line-height: 0.4;
}