body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  overflow-x: hidden;
}

.navbar {
  background-color: #005ca9;
  background-position: top;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 4);
  padding-bottom: 2px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  /* Adicione um valor alto para definir a ordem de empilhamento da navbar */
}

.navbar-container {
  /*align-items: flex-start;*/
  justify-content: space-between;
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  align-items: center;
  box-sizing: border-box;
}

.logo {
  /* Movemos essas tags para o .navbar-container
  display: flex;
  align-items: center;
  */
  font-weight: bold;
  text-decoration: none;
  /*object-fit: cover;
  /*width: 10rem;*/
  height: 3rem;
  width: 10rem;
  /*border-radius: 200px;
  margin-right: 200px;*/
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.navbar-menu li {
  text-align: center;
  margin-right: 4rem;
}

.navbar-menu li a {
  color: #ffffff;
  text-decoration: none;
}

.navbar-menu li:last-child {
  margin-right: 30px;
  /* Removendo margin do último elemento */
}

#conteudo {
  display: grid;
  padding-left: 0em;
  line-height: 1.5;
  align-content: flex-start;
  justify-content: start;
  font-weight: 600;
  line-height: 1.5;
  margin-right: 0rem;
  font-weight: 600;
  max-width: 50%;
}

/* vei quem colocou isso estava sob efeito PESADO de droga
.navbar-toggle {
  display: none;
  cursor: pointer;
}

.navbar-toggle-icon {
  cursor: pointer;
  width: 2%;
  height: 0.2em;
  background-color: #ffffff;
}
h1 {
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-toggle.active .navbar-toggle-icon:nth-child(1) {
    transform: rotate(45deg) translate(2px, 2px);
  }

  .navbar-toggle.active .navbar-toggle-icon:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.active .navbar-toggle-icon:nth-child(3) {
    transform: rotate(-45deg) translate(1px, -1px);
  }
  .logo {
    width: 3em; /* Ajuste a largura para dispositivos móveis 
  }

  .navbar-menu li {
    margin-right: 0.5em; /* Ajuste o espaçamento para dispositivos móveis 
  }
}

.imgscar {
  border-style: none;
  border-width: 0 2px;
  /* Define a largura da borda somente nas laterais 
  border-radius: 60%/60%;
  box-shadow: 0 0 0 rgba(0, 0, 0, 1);
  height: 700px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  /* Adicione um espaçamento inferior para afastar a imagem dos elementos abaixo
  background-color: transparent;
  z-index: -1;
}

.slide {
  width: 90%;
  align-items: center;
  position: relative;
  display: inline-flex;


  margin-left: auto;
  margin-right: auto;
}



.slide img {
  max-width: 100%;
  height: 100%;
  flex-flow: row;
}

*/
h1 {
  font-family: "montserrat", "sans-serif";
  padding-top: 6rem;
  padding-left: 2rem;
  align-content: flex-start;
  text-align: center;
  /* Centraliza o texto */
  max-width: 800px;
  /* Define uma largura máxima para o título */
  margin: 0 auto;
  /* Centraliza horizontalmente */
  box-sizing: border-box;
  /* Inclui a largura das bordas e o padding na largura total do elemento */
  margin-bottom: 1rem;
}

p {
  line-height: 1.5;
  padding-left: 2em;
  align-content: flex-start;
  justify-content: start;
  font-weight: 600;
}

footer {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 0rem;
  bottom: 0;
  text-align: center;
  font-weight: bold;
}

.rodape {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  white-space: pre-line;
}

/*.logosenai {
  animation-delay: 0s;
}

.logobib {
  animation-delay: 5s;
}*/

#linhatexto {
  margin-top: 0;
  display: inline-block;
  height: 10vh;
}

.container {
  display: flex;
  justify-content: flex-end;
  /* Alinha o carrossel à direita */
  align-items: center;
  height: 55vh;
  padding: 0 2%;
  /* Adiciona um espaço de 2% nas laterais do carrossel */
  box-sizing: border-box;
  /* Inclui a largura das bordas e o padding na largura total do elemento */
}

#slider {
  z-index: -1;
  height: 25vw;
  position: absolute;
  right: 2%;
  /* Alinha o carrossel à direita com uma margem de 2% */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  /* Define a largura do carrossel em 90% do container */
  max-width: 50vw;
  /* Define uma largura máxima para o carrossel */
}

#slider img {
  opacity: 0;
  border-radius: 400px;
  position: absolute;
  object-fit: contain;
  transition: opacity 800ms;
  width: 100%;
  /* Define a largura das imagens do slide para ocupar todo o espaço disponível */
  height: 100%;
  /* Permite que a altura das imagens seja ajustada proporcionalmente à largura */
}

.slide {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: auto;
}

#slider img.selected {
  opacity: 1;
  object-fit: contain;
}

@media (max-width: 768px) {
  .navbar {
    align-items: center;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
  }

  header {
    display: flex;
    position: relative;
    justify-content: center;
  }

  body {
    margin-top: 6rem;
  }

  .navbar-menu {
    justify-content: stretch;
    display: grid;
    text-align: center;
    align-items: center;
    align-items: flex-start;
  }

  .navbar-container {
    /*align-items: flex-start;*/
    justify-content: stretch;
    text-align: center;
    align-items: center;
    display: grid;
  }

  h1 {
    font-size: 24px;
    /* Reduz o tamanho da fonte para telas menores */
    padding: 0;
    /* Remove o espaçamento lateral */
    margin-top: 25vh;
    /* Adiciona um espaçamento superior para afastar o título da barra de navegação */
    margin-bottom: 2vh;
  }


  #linhatexto {
    align-items: flex-start;
    display: grid;
    text-align: center;
    align-items: center;
    line-height: 1.5;
    align-content: flex-start;
    justify-content: start;
  }

  p {
    line-height: 1.5;
    align-content: flex-start;
    padding-left: 0rem;
    justify-content: start;
    font-weight: 600;
    line-height: 1.5;
    margin-right: 0rem;
    font-weight: 600;
  }

  .navbar-menu li {
    justify-content: stretch;
    margin-top: 1rem;
    margin-right: 0;
  }

  .navbar-menu li:last-child {
    margin-right: 0rem;
    /* Removendo margin do último elemento */
  }

  .logo {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: grid;
    margin: 0 auto;
    padding-left: 2rem;
  }

  .rodape {
    display:flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    white-space: pre-line;
  }

  footer {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    /* padding-top: auto; */
    font-weight: bold;
    object-position: bottom;
  }

  #conteudo {
    max-width: 100%;
    display: grid;
    padding-left: 0em;
    line-height: 1.5;
    align-content: flex-start;
    justify-content: start;
    font-weight: 600;
    line-height: 1.5;
    margin-right: 0rem;
    font-weight: 600;
    align-items: flex-start;
    text-align: center;
    align-items: center;
  }

  #linhatexto {
    width: 100%;
  }

  /*
  .rodape {
    line-height: 0.4rem;
    text-align: center;
    white-space: pre-line;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
  }
  */
  .rodape p {
    line-height: 1rem;
    text-align: center;
    white-space: pre-line;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
  }

  .container {
    position: relative;
    height: 55vh;
    justify-content: center;
    /* Centraliza o carrossel na página */
    /* Remove o espaço nas laterais */
  }

  #slider {
    position: relative;
    /* Remove a posição absoluta para ajustar ao fluxo do documento */
    right: auto;
    /* Remove o alinhamento à direita */
    width: 90%;
    /* Define a largura do carrossel como 100% do container */
    height: 10vh;
    /* Ajusta a altura proporcionalmente ao conteúdo */
    max-width: none;
    /* Remove a largura máxima */
    padding: 0;
    /* Remove o espaçamento nas laterais */
    margin: 0 auto;
  }

  #app {
    max-width: 100%;
    margin: 0 auto;
  }
}