.navbar {
  background-color: #2ad4a1;
  padding: 1%, 5%;

  border-radius: 300000px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.navbar-container {
  position: center;
  display: flex;
  align-items: flex-start;
  max-width: 1000%;
  align-items: center;
  flex-direction: row;
}

.logo {
  display: flex;
  font-size: 1.2rem;
  width: 70px;
  height: auto;
  border-radius: 50px;
  margin-top: 1%;
}
#icone
{  
  margin-left: 0;

}

.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-menu li {
  margin-left: 60px;
  font-size: 20px;
}

.navbar-menu li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.navbar-toggle-icon {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 4px;
}

h1 {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-toggle.active .navbar-toggle-icon:nth-child(1) {
    transform: rotate(45deg) translate(2px, 2px);
  }

  .navbar-toggle.active .navbar-toggle-icon:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.active .navbar-toggle-icon:nth-child(3) {
    transform: rotate(-45deg) translate(1px, -1px);
  }
}
