@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

body {
  background-color: #e0e0e0;
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 2%;
}

label {
  grid-column: 1;
  margin-bottom: 1%;
  font-weight: bold;
  color: #000000;
}

.sair {
  font-family: sans-serif;
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  background-color: #005ca9;
  color: #ffffff;
  font-size: 1.2em;
  border: none;
  padding: 0.5rem 1em;
  border-radius: 1.5rem 1rem 1.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.1s ease;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
}

#app {
  position: relative;
  max-width: 40%;
  margin: 0 auto;
  padding: 2%;
}

form {
  height: max-content;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1%;
  background-color: #ffffff;
  border-radius: 5%;
  padding: 5%;
}


h2 {
  white-space: normal;
  font-size: 1.68rem;
  color: #005ca9;
  text-align: center;
  margin-bottom: 2rem;
}

#senhaErro {
  display: none;
  float: left;
  justify-content: flex-start;
  background-color: transparent;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  margin-top: -0.2rem;
}

input[type="text"],
input[type="password"] {
  grid-column: 1;
  width: 100%;
  padding: 1rem;
  border: 1px solid #005ca9;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  background-color: #005ca9;
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  border: none;
  padding: 0.5em 1em;
  border-radius: 20px 10px 20px 10px;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0rem;
}

button[value="redefinir"] {
  font-family: 'Raleway', sans-serif;
  background-color: #005ca9;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  padding: 0.5em 1em;
  border-radius: 20px 10px 20px 10px;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 2rem;
}
#botaosair:hover{
  color: red;
}
button[value="redefinir"]:hover {
  background-color: #0c36be;
}

.rodape {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  /* Centralizar o conteúdo do rodapé */
}

.rodape p {
  font-weight: 600;
  line-height: 1rem;
  margin: 0 auto;
  /* Remover margens para evitar espaçamento extra */
}

.sair:hover {
  background-color: #0c36be;
}

@media screen and (max-width: 768px) {
  body {
    position: relative;
    overflow: scroll;
    margin: 0 auto;
    height: 500px;
    box-sizing: border-box;
  }

  form {
    max-height: 80vh;
    height: max-content;
    box-sizing: border-box;
    max-width: 100%;
    padding: 50px;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1%;
    background-color: #ffffff;
    border-radius: 2%;
    padding-left: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #app {
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
    padding: 2%;
    margin-top: 1vh;
  }

  input[type="text"],
  input[type="password"] {
    padding: 0.8rem;
    margin-bottom: 1rem;
  }

  footer {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    /* padding-top: auto; */
    font-weight: bold;
    margin-top: 5rem;
    object-position: bottom;
  }

  /*
  .rodape {
    line-height: 0.4rem;
    text-align: center;
    white-space: pre-line;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
  }
  */
  .rodape p {
    line-height: 1rem;
    text-align: center;
    white-space: pre-line;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
  }

  button[value="redefinir"] {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .sair {
    position: absolute;
    font-family: sans-serif;
    margin: 0.4rem;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    background-color: #005ca9;
    color: #ffffff;
    font-size: 1.2em;
    border: none;
    padding: 0.5rem 1em;
    border-radius: 1.5rem 1rem 1.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.1s ease;
    box-sizing: border-box;
  }

  h2 {
    white-space: normal;
    font-size: 2rem;
    color: #005ca9;
    text-align: center;
    margin-bottom: 20px;
    padding: 0rem;
  }

  .rodape p {
    line-height: 1rem;
    text-align: center;
    white-space: pre-line;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
  }
}